doctype html
html
  head
    title= title 
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/sendCommand.js")
    script(src="/updateTime.js")
    script(src="/updateTime.js")
    script(src="/buttonSelected.js")
    script(src="/graph.js")
    script(src="/vegSelectionMenuButton.js")
    script(src="https://cdn.jsdelivr.net/npm/chart.js")
    
  body
    block content
 


